*{margin: 0;padding: 0;}

/* top */
.top{
    height: 73px;
    background: #18bebe url('../images/13.png') no-repeat center center;
    }

/* title */
    .title-outside{
        background:#f3eff2;
    }
    .title {
        background: #f3eff2;
        width: 1000px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .title-left {
        position: absolute;
        font-size: 13px;
        left: 45px;
        top: 0;
        line-height: 40px;
      }
    
    .title-right {
        position: absolute;
        font-size: 13px;
        right: 0;
        top: 0;
        line-height: 40px;
      }
    
    .title .location{
        width: 19px;
        height: 19px;
        display: inline-block;
        background-image: url('../images/location02.png');
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -9.5px;
    }
    
    .title .adminster{
        width: 19px;
        height: 19px;
        display: inline-block;
        background-image: url('../images/adm02.png');
        position: absolute;
        left: 0px;
        top: 50%;
        margin-top: -9.5px;
    }
    
    .title-right a{
        display: block;
        margin-left: 20px;
        text-decoration: none;
        color:#515151;
        margin-left: 30px;
    }
    
    .title-left a:first-of-type{
        margin-left: 30px;
        margin-right:5px;   
    }
    
    .title-left a{
        text-decoration: none;
        color:#515151;
    }
    
    .title-center{
        font-size: 18px;
        text-align: center;
        line-height: 40px;
    }
    .title-center a{
        display: inline-block;
        text-decoration: none;
        color:#515151;
        width: 100px;
    }
    .title-center a:hover{
        display: inline-block;
        text-decoration: none;
        color:#9b9b9b;
        background: white;
        width: 100px;
    }

    /* sidebar */
    .sidebar{
        width: 180px;
        background: #f0f0f0;
        margin-left: 200px;
        margin-top: 25px;
        position: relative;
        padding-bottom: 30px;
    }

    .user-center{
        width: 178px;
    
    }

    .user-center a {
        display: block;
        font-size: 17px;
        color:black;
        line-height: 70px;
        text-align: center;
        text-decoration: none;
        border-left: 3px solid #f0f0f0;
    }
    .user-center :hover{
        border-left: 3px solid #18bebe;
        background: #ebebeb;

    }
    .user-center :hover a{
        color: #18bebe;
        cursor: pointer;
    }


    /* list */
    .menu{
        margin-bottom: 30px;
    }


    .menu .list-one li{
        display: inline-block;
        line-height: 40px;
    }

    .menu img{
        margin-left: 20px;

    }
    .menu  li p{
     margin-left: 5px;
        font-size: 16px;
        font-weight: 550;
    }
    .menu .list-two li{
        list-style: none;
        line-height: 30px;
        
    }

    .menu   a {  
        text-decoration: none;
        color: black;
        margin-left: 40px;
    }



/* iframe */
    iframe{
        position: absolute;
        margin-left: 393px;
        margin-top:-968px;
        width: 800px;
        height: 1100px;
        background: #f0f0f0;
    }
